@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    background-color: #fff;
  }

  #logo {
    color: #6070ff;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
  }

  img {
    width: 18px;
    height: 12px;
    justify-content: flex-end;
    margin: 5px 0 0 0;
  }

  .content-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url("./images/Ellipse3.png") top right no-repeat, url("./images/Ellipse4.png") 237px 564px no-repeat, url("./images/Ellipse5.png") 132px 111.81px no-repeat, url("./images/Ellipse8.png") 214px 66px no-repeat, url("./images/Ellipse11.png") left top no-repeat, url("./images/Ellipse12.png") 341.76px 484.5px no-repeat, url("./images/Ellipse13.png") 332.18px 496.46px no-repeat, url("./images/Ellipse14.png") 298px 271px no-repeat, url("./images/Ellipse15.png") 53px 550px no-repeat, url("./images/Rectangle4.png") top right no-repeat, url("./images/Rectangle5.png") 191.82px 560px no-repeat, url("./images/Rectangle6.png") -25px 77px no-repeat, url("./images/Rectangle7.png") 127.18px 99px no-repeat;
    background-color: #fff;
    border-radius: 0 0 0 5rem;
    padding: 145px 24px;
  }

  #intro {
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    font-style: normal;
  }

  #bio {
    color: #344563;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 6px 0;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  #in-touch {
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 6px 0;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 6px 0;
    padding: 0;
    width: 170px;
    height: 20px;
  }

  .language img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 8px;
  }

  .card img {
    width: 100%;
    height: 220px;
  }

  .social-icons li img {
    width: 20px;
    height: 20px;
  }

  /* projects starts */

  #cards {
    display: -ms-grid;
    display: grid;
    align-items: center;
    padding: 16px;
    margin: 70px 0 0 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe1e6;
    background-color: #fff;
    margin: 44px 24px;
    border-radius: 16px;
    padding: 16px;
  }

  .card h3 {
    margin: 12px 0;
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    color: #172b4d;
  }

  .card-content {
    display: flex;
    align-items: center;
    margin: 12px 0;
    padding-top: 8px;
  }

  .card-owner {
    color: #344563;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .card-content ul {
    display: flex;
    padding-left: 1.6rem;
  }

  .card-content ul li {
    color: #7a869a;
    font-size: 13px;
    line-height: 16px;
  }

  .card p {
    color: #344563;
    padding: 12px 0;
    margin: 12px 0;
    font-size: 15px;
    line-height: 24px;
  }

  .card-tags {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    color: #6070ff;
  }

  .card-tags li a:first-child {
    margin: 2px;
  }

  .tag {
    background: #ebebff;
    padding: 4px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    border-radius: 7px;
    margin: 0;
  }

  .card-button {
    border: 1px solid #396df2;
    font-weight: bold;
    margin: 2rem 1rem 0 0;
    background-color: #fff;
    border-radius: 7px;
    padding: 0.8rem 1rem;
    color: #396df2;
    letter-spacing: 0.03em;
    font-size: 17px;
  }

  .card-button:hover {
    background: #6070ff;
    color: #fff;
  }

  .card-button:active {
    background: #2230d2;
    color: #fff;
  }

  .card-button:disabled {
    background: #e5e5e5;
    color: #5e6c84;
  }

  /* projects End */

  /* About start */

  #about {
    background-color: #fff;
    border-radius: 0 6rem 0 0;
    padding: 57px 24px;
    margin: 70px 0 0 0;
  }

  #about h3 {
    margin: 6px;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  #about p {
    align-self: center;
    margin: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }

  #get-resume {
    margin: 32px 16px 0 8px;
    border: 1px solid #396df2;
    font-weight: bold;
    background-color: #fff;
    border-radius: 7px;
    padding: 0.8rem 1rem;
    color: #396df2;
    letter-spacing: 0.03em;
    font-size: 17px;
  }

  .showcase {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: #000;
    list-style-type: none;
  }

  .language {
    display: flex;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 6px;
    list-style-type: none;
  }

  .backend {
    margin-left: 0.5rem;
    margin-right: 0.6rem;
  }

  .year {
    margin-left: 1rem;
  }

  .showcase-list {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
  }

  .showcase-list:first-child {
    border-bottom: none;
  }

  .accordion {
    margin: 1rem;
    padding: 10px;
    float: right;
  }

  #about-social p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin: 16px 8px;
  }

  #about-social ul {
    margin: 8px 20px;
  }

  #contact {
    padding: 80px 0 0 0;
    background-color: #fff;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 70px 0 0 0;
    background-color: #6070ff;
  }

  footer h2 {
    margin-top: 103px;
    margin-bottom: 6px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  #para {
    color: #ebebff;
    margin: 6px 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .name {
    border: 1px solid #cfd8dc;
    border-radius: 5px;
    background: #fff;
    margin: 87px 0 10px 0;
    padding: 10px;
    height: 80%;
    width: 95%;
  }

  .email {
    border: 1px solid #cfd8dc;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    margin: 10px 0;
    height: 80%;
    width: 95%;
  }

  .textarea {
    padding: 14px;
    /* margin-right: 24px; */
    border: 1px solid #cfd8dc;
    border-radius: 5px;
    background: #fff;
    margin: 12px 12px 12px 0 ;
    width: 100%;
    box-sizing: border-box;
  }

  .button {
    margin: 12px 0 14px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    background: #fff;
    border-radius: 8px;
    color: #6070ff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
    min-width: 140px;
  }

  .button:hover {
    margin: 12px 0 14px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    background: #6070ff;
    color: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
  }

  .button:active {
    margin: 12px 0 14px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    background: #2230d2;
    color: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
  }

  .button:disabled {
    margin: 12px 0 14px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    background: #e5e5e5;
    color: #5e6c84;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
  }

  #line {
    width: 134px;
    height: 5px;
    left: calc(50% - 134px / 2 - 0.5px);
    bottom: 8px;
    background: #0d151e;
    border-radius: 10px;
    margin: 32px 10px 8px 10px;
  }

  /* About end */
}
