@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  
}

@media (max-width: 600px) {

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    background-color: #fff;
  }

  #logo {
    color: #6070ff;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
  }

  img {
    width: 18px;
    height: 12px;
    justify-content: flex-end;
    margin: 5px 0 0 0;
  }

  .content-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0 0 0 5rem;
    padding: 145px 24px;
    background-color: #fff !important;
    background: url("./images/Ellipse3.png") top right no-repeat,
      url("./images/Ellipse4.png") 237px 564px no-repeat,
      url("./images/Ellipse5.png") 132px 111.81px no-repeat,
      url("./images/Ellipse8.png") 214px 66px no-repeat,
      url("./images/Ellipse11.png") left top no-repeat,
      url("./images/Ellipse12.png") 341.76px 484.5px no-repeat,
      url("./images/Ellipse13.png") 332.18px 496.46px no-repeat,
      url("./images/Ellipse14.png") 298px 271px no-repeat,
      url("./images/Ellipse15.png") 53px 550px no-repeat,
      url("./images/Rectangle4.png") top right no-repeat,
      url("./images/Rectangle5.png") 191.82px 560px no-repeat,
      url("./images/Rectangle6.png") -25px 77px no-repeat,
      url("./images/Rectangle7.png") 127.18px 99px no-repeat;
  }

  #intro {
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    font-style: normal;
  }

  #bio {
    color: #344563;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 6px 0;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  #in-touch {
    color: #7f8cff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 6px 0;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 6px 0;
    padding: 0;
    width: 170px;
    height: 20px;
  }

  .social-icons li img {
    width: 20px;
    height: 20px;
  }
}
